body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}


#overlay{
    position: fixed;
    top: 0;
    left: 0;
}

.dg.main.taller-than-window .close-button {
    /* fix for FireFox */
    position: fixed;
}

#info {
    font-family: 'Lucida Grande',sans-serif;
    position: absolute;
    color: white;
    top: 14px;
    right: 0;
    width: 175px;
    cursor: pointer;
    font-size: 12px;
    z-index: 100;
    display:block;
    visibility: visible;
    opacity: 0.8;
    background-color: #0F0F0F;
}

.infoInstance {
        display: inline;

#active {
    font-family: 'Lucida Grande',sans-serif;
    position: absolute;
    color: white;
    top: 0;
    right: 0;
    width: 175px;
    cursor: pointer;
    font-size: 12px;
    z-index: 100;
    display: block;
    visibility: visible;
    opacity: 0.8;
    background-color: #0F0F0F;

}